{%  extends 'music_store/main.html' %}

{% block songs %}

{% load static %}

<style>
  .container1 input[type=text] {
padding:5px 0px;
margin:5px 5px 5px 0px;
}

.add_form_field
{
    background-color: #1c97f3;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 border:1px solid #186dad;
}

.delete{
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>


<script>
  $(document).ready(function() {
      var max_fields      = 10;
      var wrapper         = $(".container1");
      var add_button      = $(".add_form_field");
  
      var x = 1;
      $(add_button).click(function(e){
          e.preventDefault();
          if(x < max_fields){
              x++;
              $(wrapper).append('<div class="col"><input type="text" name="mytext[]"/><a href="#" class="delete">Remove</a></div>'); //add input box
          }
    else
    {
    alert('You Reached the limits')
    }
      });
  
      $(wrapper).on("click",".delete", function(e){
          e.preventDefault(); $(this).parent('div').remove(); x--;
      })
  });
</script>

<form method="get">
  {% for field in myFilter2.form %}
  <div class="form-group">
      {% if field.label != 'Key Words' %}
        <div class="col">{{ field.label }}</div>
        <div class="col">{{ field }}</div>
      {% endif %}
      {% if field.label == 'Key Words' %}
          <div class="container1">
            <div class="col">
              {{field.label}}
              <button type="button" class="add_form_field">Add</button>
            </div>
            <div class="col">{{ field }}</div>
            </div>
      {% endif %}
  </div>
  {% endfor %}
  <div>
      <button class="button" type="submit">Search</button>
      <button class="button" href="{% url 'song_list' %}">Reset Search</button>
  </div>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Artist</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <th scope="row">{{song.track_number}}</th>
      <td>{{song.album.artist}}</td>
      <td>{{song.title}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
