{%  extends 'music_store/main.html' %}

{% block searchpanel %}{% endblock %}

{% load static %}
{% block albums %}

<div class="card mb-7" >
    <div class="row no-gutters">
      <div class="col-md-6" style="margin: 25px;">
        <img src="{{album.album_cover.url}}" class="card-img">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title" style="color:#8a1906; font-weight: bold;">{{album.name}}</h5>
          <a href="{% url 'artist' album.artist.id %}"><h5 class="card-title">{{album.artist}}</h5></a>
          <br>
          <h2 style="font-weight: bold;">{{album.price}} $</h2>
          <br>
          <br>
          <br>
          <p class="card-text">{{album.year}}</p>
          <p class="card-text">{{album.record_label}}</p>
          <h6 class="card-text">Formats: {% for type in album.typeFormat.all %}|  {{ type }}  {% endfor %}</h6>
          <h6 class="card-text">Genres: {% for genre in album.genre.all %}|  {{ genre }}  {% endfor %}</h6>
          <br>
          <br>
          <br>
          <button data-album="{{album.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart-grid" style="background-color: #8a1906; font-weight: bolder;">Add to basket</button>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for song in songs %}
      <tr>
        <th scope="row">{{song.track_number}}</th>
        <td>{{song.title}}</td>
        <th>
          <audio controls preload="auto">
            <source src="{{ song.audio_file.url }}" type="audio/mp3">
          </audio>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}