{%  extends 'music_store/main.html' %}

{% block albums %}

{% load static %}

<div id="myGroup">
  <button class="btn dropdown" data-toggle="collapse" data-target="#grid"><i class="icon-chevron-right"></i><img src="{% static 'images/grid.png' %}"></button>
  <button class="btn dropdown" data-toggle="collapse" data-target="#list"><i class="icon-chevron-right"></i><img src="{% static 'images/list.png' %}"></button>
  

<div class="accordion-group">
  <div class="collapse show" id="grid"  data-parent="#myGroup">
    {% for album in albums %}
      <div class="card" style="width: 14rem; display: inline-block;">
          <img src="{{album.album_cover.url}}" class="card-img-top">
          <div class="card-body">
          <h5 class="card-title">{{album.name}}</h5>
          <h6 colour="blue">{{album.artist}}</h6>
          <h6>{{album.year}}</h6>
          <a href="{% url 'album' album.id %}" class="btn btn-primary">Details</a>
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="collapse indent" id="list"  data-parent="#myGroup">
      {% for album in albums %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-3">
              <img src="{{album.album_cover.url}}" class="card-img">
            </div>
            <div class="col-4">
              <div class="card-body">
                <h5 class="card-title">{{album.name}}</h5>
                <p class="card-text">{{album.artist}}</p>
                <p class="card-text">{{album.year}}</p>
                <p class="card-text">{{album.record_label}}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}